/* mobile first */
.hero__tittle {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--light-txt-bg-cl);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
}
