:root {
  /* fonts */
  --main-font: "roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --light-txt-bg-cl: #ffffff;
  --secondary-txt-color: #757575;
  /* bg colors */
  --dark-bg-cl: #2f303a;
  --white-bg-collors: #f5f4fa;
  --btn-focus-bg-cl: #188ce8;
  /* others */
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio, .clients, .team, .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  border-radius: 0px;
}

.logo__web {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.header__logo {
  margin-right: 93px;
}

.logo--mode-dark {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo--mode-white {
  display: block;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--light-txt-bg-cl);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.portfolio__item--card-set {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.saction-tittle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

.btn {
  cursor: pointer;
  max-width: 240px;
  min-height: 50px;
  min-width: 200px;
  padding: 10px, 32px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: var(--light-txt-bg-cl);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-focus-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-txt-cl);
}

.modal__form {
  text-align: center;
}

.form__tittle {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__group {
  margin-bottom: 20px;
}

.form__lable {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.form__lable:last-child {
  margin-bottom: 0;
}

.form__input {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  padding-left: 42px;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-txt-cl);
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-txt-cl);
}

.form__name {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  padding-left: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.form__textarea {
  resize: none;
  cursor: pointer;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  -webkit-transition: border 250ms var(--cubic);
  transition: border 250ms var(--cubic);
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea:hover, .form__textarea:focus {
  border: 1px solid var(--accent-txt-cl);
}
.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form__agree-icon {
  cursor: pointer;
}
.form__input-agree:checked + .form__agree-icon .form__icon-unchek {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}
.form__agree-icon .form__icon-chek {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}
.form__input-agree:checked + .form__agree-icon .form__icon-chek {
  opacity: 1;
}

.form__checkbox-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--secondary-txt-color);
}

.form__link {
  text-underline-position: under;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.form__btn {
  cursor: pointer;
  padding: 10px 55px;
  margin-top: 30px;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
  background-color: var(--accent-txt-cl);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form__btn:focus, .form__btn:hover {
  background-color: var(--btn-focus-bg-cl);
}
.form__btn-txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-bg-cl);
}

.toggle__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 34px;
  margin-bottom: 50px;
  gap: 9px;
}

.toggle__btn {
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--white-bg-collors);
}
.toggle__btn:hover, .toggle__btn:focus {
  color: var(--light-txt-bg-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.toggle__btn--current {
  color: var(--light-txt-bg-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__address {
  font-style: normal;
}

.address__list:last-child {
  margin: 0;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__link:focus, .address__link:hover {
  color: var(--accent-txt-cl);
}

.address__link-geo {
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address__link-geo:focus, .address__link-geo:hover {
  color: var(--accent-txt-cl);
}

.footer__socials {
  margin-left: 70px;
  margin-right: 93px;
}

.socials__slogan {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-bg-cl);
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-txt-cl);
}

.socials__icon {
  fill: var(--light-txt-bg-cl);
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing__slogan {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-bg-cl);
}

.mailing__input {
  cursor: pointer;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
  background: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing__input:hover, .mailing__input:focus {
  border-color: var(--accent-txt-cl);
}

.mailing__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
  padding: 10px 28px;
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.mailing__btn:hover, .mailing__btn:focus {
  background-color: var(--btn-focus-bg-cl);
}
.mailing__btn-txt {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.mailing__btn-icon {
  fill: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}
.header__contact:focus, .header__contact:hover {
  color: var(--accent-txt-cl);
}

.header__svg {
  fill: currentColor;
  margin-right: 10px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0, auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__nav-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.header__nav-link--current {
  color: var(--accent-txt-cl);
}
.header__nav-link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
}
.header__nav-link:focus, .header__nav-link:hover {
  color: var(--accent-txt-cl);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg-cl);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/baccground/bacground.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baccground/bacground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__container {
  text-align: center;
}

.hero__tittle {
  margin-bottom: 30px;
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-bg-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features__svg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--white-bg-collors);
  border-radius: 4px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  width: 270px;
}

.features__txt {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__info {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

.caption {
  padding-top: 0;
  padding-bottom: 94px;
}

.caption__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caption__item {
  position: relative;
}

.caption__desc-block {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}

.caption__desc {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--white-bg-collors);
}

.team__wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: none;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--light-txt-bg-cl);
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.team__profession {
  margin-bottom: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

/* Socials */
.team__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team__soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition: fiil 250ms var(--cubic), background-color 250ms var(--cubic);
  transition: fiil 250ms var(--cubic), background-color 250ms var(--cubic);
  border-radius: 50%;
}
.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-txt-cl);
}
.team__soc-link:hover .team__soc-icon, .team__soc-link:focus .team__soc-icon {
  fill: var(--light-txt-bg-cl);
}

.team__soc-icon {
  fill: #afb1b8;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.footer {
  padding-top: 60px;
  padding-bottom: 64px;
  background-color: var(--dark-bg-cl);
}

.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.portfolio__link {
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  display: block;
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .overlay__block, .portfolio__link:focus .overlay__block {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.overlay__block {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay__text {
  display: block;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.overlay__wraper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.overlay__project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.overlay__descr {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}/*# sourceMappingURL=main.css.map */