.clients {
  @extend %saction;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  transition: border-color 250ms var(--cubic);

  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}
