.clients {
  @extend %saction;
}
.clients__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 30px * 1) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 5) / 6);
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  transition: border-color 250ms var(--cubic);

  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}
