.portfolio {
  @extend %saction;
}

.portfolio__link {
  transition: box-shadow 250ms var(--cubic);
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .overlay__block,
  &:focus .overlay__block {
    transform: translate(0);
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.overlay__block {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
}
.overlay__text {
  display: block;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.overlay__wraper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}
.overlay__project {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.overlay__descr {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}
